@page
@using ContosoCrafts.WebSite.Components
@using ContosoCrafts.WebSite.Pages.Recipes
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">

    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-header">
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="recipeBody">
            @foreach (var recipe in Model.Recipes)
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td><a asp-page="Read" asp-route-id="@recipe.RecipeID">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>