@page "{id:int}"
@model ContosoCrafts.WebSite.Pages.Recipes.ReadModel
@{
    ViewData["Title"] = "Recipe page";
}

<h1>Recipe Page</h1>
<div class="container">
    <div class="row justify-content-center">
        <figure class="figure">
            @*CJH - Included css variable class (--img-height-500px) to set the max height for the images used on recipe pages
                img-recipe-page is the class used in site.css *@
            <img src="@Model.Recipe.Image" class="figure-img img-fluid rounded img-recipe-page" alt="Image of @Model.Recipe.Title">
            <figcaption class="figure-caption">Caption to be added</figcaption>
            @*To be expanded to include additional recipe information*@
        </figure>
    </div>   
</div>