@page "{id:int}"
@model ContosoCrafts.WebSite.Pages.Recipes.ReadModel
@{
    ViewData["Title"] = "Recipe page";
}

<h1>Recipe Page</h1>
<div class="container">
    <div class="row justify-content-center">
        <figure class="figure">
            <img src="@Model.Recipe.Image" class="figure-img img-fluid rounded" alt="Image of @Model.Recipe.Title">
            <figcaption class="figure-caption">Caption to be added</figcaption>
        </figure>
    </div>   
</div>