@page "{id:int}"
@model ContosoCrafts.WebSite.Pages.Recipes.ReadModel
@{
    ViewData["Title"] = "Recipe page";
}

<h1>Recipe Page</h1>
<div class="container">
    <div class="row justify-content-center">
        <img class="img-fluid " src="@Model.Recipe.Image" alt="Image of @Model.Recipe.Title" />
    </div> 
</div>