@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Team 6:</h1>
<h2>Legion</h2>

 <summary>
 Rakesh Utekar
 </summary>

@(await Html.RenderComponentAsync<RecipeList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>