@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        font-family: 'Nunito', sans-serif;
    }

    h1, h2 {
        font-family: "Nunito", serif;
    }
</style>

<h1>@ViewData["Title"]</h1>
    <p>Last updated: 04/25/2023</p>
    <p>Recipe Rep operates this Site. This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.</p>
    <h2>Information Collection and Use</h2>
    <p>We may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email address, and IP address ("Personal Information").</p>
    <p>We may also automatically collect information about your visit to the Site, including the pages you view, the links you click, and other actions taken in connection with the Site. This information may include your IP address, browser type, operating system, device type, and the date and time of your visit.</p>
    <p>We use this information to operate, maintain, and improve the Site, as well as to provide personalized content and ads.</p>
    <h2>Cookies</h2>
    <p>We use "cookies" to collect information about your visit to the Site. A cookie is a small data file that is transferred to your device for record-keeping purposes. Cookies help us to tailor our Site to your needs and preferences.</p>
    <p>You can control the use of cookies at the individual browser level. If you reject cookies, you may still use our Site, but your ability to use some features or areas of our Site may be limited.</p>
    <h2>Third-Party Services</h2>
    <p>We use third-party services to help us operate, maintain, and improve the Site. These services may collect information about your use of the Site, such as the pages you visit and the links you click, in order to provide us with analytics and advertising data. These services include:</p>
    <ul>
      <li>Google Analytics: Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Site. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network. You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity. For more information on the privacy practices of Google, please visit the Google Privacy &amp; Terms web page: https://policies.google.com/privacy?hl=en</li>
    </ul>
    <h2>Security</h2>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
    <h2>Data Retention</h2>
    <p>We will retain your Personal Information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Information to the extent necessary to comply with our legal obligations