@page
@model ContosoCrafts.WebSite.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign up page";
}

<section class="vh-100" id="sign-up">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 text-black">
                            <h2 class="text-center mb-5">Create an Account</h2>

                            <form>
                                <!-- name -->
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">Your Name</label>
                                </div>
                                <!-- email -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3cg">Your Email</label>
                                </div>
                                <!-- password -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>
                                <!--repeat password -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                </div>
                                <!-- privacy policy -->
                                <div class="form-check d-flex justify-content-start align-items-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg">
                                    <label class="form-check-label" for="form2Example3g">
                                        <span class="text-body text-muted" style="display: inline-block;">
                                            I agree to all statements in <a href="/Privacy" class="fw-bold text-body"><u>privacy policy</u></a>
                                        </span>
                                    </label>
                                </div>
                                <!-- register button -->
                                <div class="d-flex justify-content-center">
                                    <button type="button"
                                            class="btn btn-dark btn-lg btn-block">
                                        Register
                                    </button>
                                </div>
                                <!-- sign in link -->
                                <p class="text-center text-muted mt-5 mb-0">
                                    Already have an account? <a href="/SignIn" class="fw-bold text-body"><u>Sign In here</u></a>
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

