@using Microsoft.AspNetCore.Components
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileRecipeService RecipeService
@inject NavigationManager NavigationManager

<div>
    @foreach (var reaction in Reactions)
        {
            var ordinal = (int)reaction.Item1;

            string emojiVal = "&#" + Recipe.ReactionCharacters[reaction.Item1].ToString() + ";";
            // Need to figure out how to correctly display the emojis, removing for now
        <button id="@ordinal" @onclick="(e => SubmitReaction(ordinal))">@reaction.Item1 @reaction.Item2</button>
    }
</div>

@code {
    // The RecipeID of the current page
    [Parameter]
    public int RecipeID { get; set; }

    // The RecipeModel for the reactions to be shown
    public RecipeModel Recipe { get; set; }

    // The list of reaction values grabbed from the database
    List<(Reaction, int)> Reactions { get; set; }

    /// <summary>
    /// Initializes the blazor component on the first page load
    /// </summary>
    protected override void OnInitialized()
    {
        // Get the Reactions based on recipeId/Recipe on page load
        Recipe = RecipeService.GetRecipe(RecipeID);
        Reactions = Recipe.GetReactions();
    }

    /// <summary>
    /// Submits the reaction to the database
    /// </summary>
    void SubmitReaction(int reactionOrdinalVal)
    {
        // Cast the ordinal value to enum Reaction type
        var reactionType = (Reaction)reactionOrdinalVal;

        RecipeService.AddReaction(Recipe.RecipeID, reactionType);
        Recipe = RecipeService.GetRecipe(RecipeID);
        Reactions = Recipe.GetReactions();
  
        // Ensure that the state is udpated and counts are refreshed
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}

