@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileRecipeService RecipeService
@inject NavigationManager NavigationManager


<div class="card-columns">
    @foreach (var recipe in RecipeService.GetRecipes())
    {
        @* Only show recipes that are not marked as delete*@
        if(recipe.Deleted == false)
        {
            <div class="card">
                <div class="card-img" style="background-image: url('@recipe.Image');">
                </div>
                <div class="card-body">
                    <div class="card-tags">
                        <ul>
                            @foreach (var tags in @recipe.Tags.Take(1))
                            {
                                <li><a href="/Recipes/Search?Tags=@tags">@tags</a></li>
                            }
                        </ul>
                    </div>
                    <h5 class="card-title">@recipe.Title</h5>
                </div>
                <div class="card-footer">
                    <div class="container mb-2 text-center">
                        @*blazor component to display reactions*@
                        <ReactionList RecipeID="recipe.RecipeID"></ReactionList>
                    </div>
                    <small class="text-muted">
                        <button @onclick="() => GoTo(recipe.RecipeID)"
                        data-toggle="modal" data-target="#productModal" class="btn btn-primary btn-block mt-3" id="recipe-@recipe.RecipeID">
                            Full Recipe Info
                        </button>
                    </small>
                </div>
            </div>
        }   
    }
</div>

@code {
    /// <summary>
    /// Method links to the given Recipe/Read/{recipeID} route to show the user the Read page for the given recipe
    /// </summary>
    /// <param name="recipeId">RecipeID of the recipe</param>
    void GoTo(int recipeId)
    {
        string route = "/Recipes/Read/" + recipeId.ToString();
        NavigationManager.NavigateTo(route, true);
    }
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">