    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Recipe Repo</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <base href="~/">
    </head>


    <body>

        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/Images/logo.png" alt="Recipe Repo" style="height: 150px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <!-- Recipes Dropdown Menu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recipes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Breakfast">Breakfast</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Lunch">Lunch</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Healthy">Healthy</a>
                                    <a class="dropdown-item" href="/Recipes/Search?tags=Vegan">Vegan</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Appetizers">Appetizers</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Salad">Salads</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Soup">Soups</a>
                                    <a class="dropdown-item" href="/Recipes/Search?tags=Bread">Bread</a>
                                    <a class="dropdown-item" href="/Recipes/Search?tags=Dessert">Desserts</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item view-all" href="/Recipes/Index">View All</a>
                                </div>
                            </li>
                            <!-- Cuisines Dropdown Menu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cuisines
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Chinese">Chinese</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=French">French</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Indian">Indian</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Japanese">Japanese</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Korean">Korean</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Mexican">Mexican</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Thai">Thai</a>
                                    <a class="dropdown-item" href="/Recipes/Search?Tags=Vietnamese">Vietnamese</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item view-all" href="/Recipes/Index?filter=cuisines">View All</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Recipes/Create">Submit Recipe</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/About">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <a class="nav-link text-dark" href="#" onclick="switchTheme(event)"><i id="theme-icon" class="fas fa-sun"></i></a>

                    </div>
                </div>

                <!-- Create a container with Flexbox to align items -->
                <div class="d-flex align-items-center">

                    <!-- search bar -->
                    <form class="form-inline my-2 my-lg-0 mr-auto" method="get" action="/Recipes/Search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Find A Recipe" aria-label="Search" name="query">
                    </form>

                    <!-- Account Dropdown Menu -->
                    <div class="dropdown ml-auto">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>

                        <!-- Add the dropdown menu items -->
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-account" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/SignIn">Sign In</a>
                            <a class="dropdown-item" href="#">Sign Out</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/SignUp">Create Account</a>
                        </div>
                    </div>
                </div>

            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- new footer -->
        <footer>
            <div class="container p-2 pb-0" id="footer-top">

                <!-- Section: sign up -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3 px-3" style="font-weight: bold;">Register for free</span>
                        <button type="button" class="btn btn-outline-dark btn-rounded btn-footer" onclick="window.location.href='/SignUp'">
                            Sign up
                        </button>
                    </p>
                </section>
                <!-- Section: sign up -->
                <!-- Section: Text -->
                <section class="mb-2">
                    <p class="text-center">
                        Want to learn cook but confused how to start? <br />
                        No need to worry again! Let's start cooking with Recipe Repo!
                    </p>
                </section>
                <!-- Section: Text -->

            </div>

            <div class="text-center p-1" id="footer-bottom">
                <section>
                    <!-- Social Media Icons -->
                    <a class="btn btn-outline-dark btn-rounded m-1" href="https://www.facebook.com" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-dark btn-rounded m-1" href="https://twitter.com" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-dark btn-rounded m-1" href="https://www.instagram.com" role="button"><i class="fab fa-instagram"></i></a>
                </section>
                &copy; 2023 <a class="repo-link" href="/">Recipe Repo</a>
                <a class="privacy" href="/Privacy">Privacy</a>
            </div>
        </footer>
        <!-- end footer -->

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="_framework/blazor.server.js"></script>

        @RenderSection("Scripts", required: false)
        <!-- Theme Toggle -->
        <script>
            // Use the HTML5 Local Storage to remember the user's theme choice
            window.onload = function () {
                if (localStorage.getItem('theme') === 'dark') {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    document.getElementById("theme-icon").className = "fas fa-moon";
                } else {
                    document.getElementById("theme-icon").className = "fas fa-sun";
                }
            }
            // Function to switch between light and dark mode
            function switchTheme(event) {
                event.preventDefault();
                if (document.documentElement.getAttribute('data-theme') === 'dark') {
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem('theme', 'light');
                    document.getElementById("theme-icon").className = "fas fa-sun";
                } else {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem('theme', 'dark');
                    document.getElementById("theme-icon").className = "fas fa-moon";
                }
            }
        </script>

        <script>
            // Function to hide the footer top and only display the footer bottom
            // when user scrolls down the website.
            window.addEventListener('scroll', function () {
                var footerTop = document.getElementById('footer-top');
                // Current value is set to 300
                if (window.scrollY > 300) {
                    footerTop.classList.add('hidden');
                } else {
                    footerTop.classList.remove('hidden');
                }
            });
        </script>

    </body>
</html>

