    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe Repo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="font-family: 'Pacifico', cursive;">Recipe Repo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Recipes">Recipes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SubmitRecipe">Submit Recipe</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                         <div class="ml-auto">
                        <a class="btn btn-primary" asp-area="" asp-page="/Account">Sign In</a>
                        </div>
                    </ul>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="get" action="@Url.Action("Search", "Recipes")">
                <input class="form-control mr-sm-2" type="search" placeholder="Find A Recipe" aria-label="Search" name="query" style="font-family: 'Times New Roman', Times, serif; margin-left: auto;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-family: 'Times New Roman', Times, serif; color: #fff;">Go</button>
            </form>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            <div class="text-left mt-4">
                <h4 style="letter-spacing: 2px; color: lightgrey;font-weight: bold">Contact</h4>
                <ul class="list-unstyled">
                    <li>
                        <span><i class="fa fa-envelope-o" style="margin-right: 5px;"></i></span>
                        <span style="color: lightgrey;">contact@reciperepo.com</span>
                    </li>

                </ul>
            </div>
            &copy; 2023 - Recipe Repo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
