:root {
    /*Image settings*/
    --img-height-recipes: 500px;
}

.img-recipe-page {
    max-height: 500px;
}

.checked {
    color: orange;
}

.fa-star {
    cursor: finger;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Card styles
-------------------------------------------------- */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', serif; /******* Change font *******/
    color: var(--text-color); /*Card text color: #354f52 */
    background: var(--bg-color); /*Card text box color: #edede9 */
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-title {
    text-align: center;
}

.card-columns .card-tags ul {
    list-style-type: none;
    padding: 0;
}

.card-columns .card-tags ul li {
    text-transform: uppercase;
    text-align: center;
 }

/* Card tag color and style */
.card-tags ul li a {
    color: #a5a58d;
    text-decoration: none;
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: var(--bg-color); /*background color: #edede9 */
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Nunito', cursive; /******* Change font *******/
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--link-color); /*original color: #0366d6 */
}

.btn-primary {
    color: #fff;
    background-color: var(--btn-color); /*sign-in button original color: #52796f */
    border-color: var(--border-color); /*original color: #252152 */
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--secondary-color);   /*original color: #84a98c */
    border-color: var(--secondary-color);   /*original color: #84a98c */
}



/* Nav bar styles
-------------------------------------------------- */

/*Nav bar background color setting */
.bg-navbar {
    background: -webkit-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: -o-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: -moz-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
}

/*Nav bar menu text color */
.navbar .nav-item .nav-link {
    color: var(--text-color);
    font-size: larger;
}

/*Dropdown menu color */
.dropdown-menu {
    background-color: var(--dropdown-bg-color);
}

/*Dropdown menu text style */
.dropdown-item {
    color: var(--text-color);
}

/*Dropdown item View all style */
.dropdown-item.view-all {
    color: var(--text-color);
}

.dropdown-item.view-all:hover {
    color: black;
}

/*User action dropdown menu style */
.dropdown-menu-account {
    background-color: var(--account-dropdown-bg-color);
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid var(--border-color); /*original color: #656468 */
}

.border-bottom {
    border-bottom: 1px solid var(--border-color); /*original color: #656468 */
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height changed to 200px to avoid overlap */
    margin-bottom: 200px;
    background-color: var(--body-bg-color); /*White background */
    color: var(--text-color); /*Body page title, content text color */
}

p {
    font-family: 'Nunito', serif; /******* Change font *******/
}

h1,h2,h3,h4, h5, h6 {
    font-family: 'Nunito', serif; /******* Change font *******/
}

ul {
    font-family: 'Nunito', serif; /******* Change font *******/
}



/* Footer styles
-------------------------------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--footer-text-color);
}

/*Footer top hides when scrolling down */
#footer-top.hidden {
    display: none;
}

/* Sign up button style */
.btn-footer {
    color: var(--text-color);
    border-color: var(--text-color);
}

/* Style for hover state */
.btn-footer:hover {
    color: var(--bg-color);
    border-color: var(--bg-color);
    background-color: var(--text-color);
}

/*Footer bottom part background color */
.text-center.p-1 {
    background-color: var(--primary-color);
}

/*Recipe Repo and Privacy link color */
.text-center.p-1 .repo-link, .text-center.p-1 .privacy {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;  /* Smooth transition for color change */
}

.text-center.p-1 .repo-link:hover, .text-center.p-1 .privacy:hover {
    color: var(--bg-color); 
    text-decoration: underline;  /* Add underline */
}

/*Social media icons appear round */
.btn-rounded {
    border-radius: 20px;
    color: var(--text-color);
    border-color: var(--text-color);
}

/*Social media icons appear round */
.btn-rounded:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}



/* Create page style
-------------------------------------------------- */
/* Form styling */
form#create-form {
    background-color: var(--section-color);
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

/* Input and Textarea styling */
form#create-form .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button animation */
form#create-form .btn-primary {
    transition: all 0.3s ease;
}

form#create-form .btn-primary:hover {
    transform: scale(1.1);
}

/* Button for adding tags, ingredients, instructions */
form#create-form .btn-outline-success {
    transition: all 0.3s ease;
}

form#create-form .btn-outline-success:hover {
    transform: scale(1.1);
}



/* Read page style
-------------------------------------------------- */
/*Change the instruction font of the Read page to Nunito*/
.instruction-font {
    font-family: 'Nunito', sans-serif;
}

/* Clear div for vertical margins*/
.clear{clear: both; height: 60px}

/*Change the color and font weight for View All under Recipes*/
.view-all {
    color: black; 
    font-weight: bold;
}

/*Read page section title style */
.section-title {
    display: flex;
    align-items: center;
}

.section-title hr {
    flex-grow: 1;
    margin-left: 10px;
}

/*Recipe title and image container */
.recipe-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Recipe Title Style Changes */
.recipe-title {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
    margin-left: auto;
}

.recipe-title h2 {
    font-weight: bold;
}

/*Recipe Image Style Changes */
.recipe-figure {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add position: relative */
    overflow: hidden; /* Add overflow: hidden to hide the excess portion */
}

.recipe-figure .figure-img {
    width: 500px;  
    height: 500px; 
    object-fit: cover;
}

#comment-section {
    background-color: var(--section-color);
}

/*Emoji reaction button color */
.btn.btn-info {
    background-color: var(--primary-color);
}

.btn.btn-info:hover {
    background-color: var(--secondary-color);
}



/* Update page style
-------------------------------------------------- */
/*Keep the instruction index in line with instruction and ensure they have the same width */
.instr-label, .ingr-label, .tag-label {
    display: inline-block;
    width: 3%;
    text-align: left;
}

.instrLabel-container input, .ingrLabel-container input, .tagLabel-container input {
    width: 96%;
    display: inline-block;
    vertical-align: middle;
}

/*Background color and border setting */
.update-container {
    background-color: var(--section-color);
    padding: 20px;
    border-radius: 5px; /* Add rounded corners */
    box-sizing: border-box; 
    width: 100%;
}



/* Delete page style
-------------------------------------------------- */
#delete-section {
    background-color: var(--section-color);
}


/* Index page style
-------------------------------------------------- */
.sort-buttons button.active {
    background-color: #fec89a;
}

.table-striped tbody tr:nth-child(even) {
    background-color: var(--stripe-even-color); /*original color: #edede9 */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--stripe-odd-color); /*original color: #cad2c5 */
}

.table-header {
    background-color: var(--primary-color); /* original color: #84a98c */
    color: var(--text-color); /* This is new */
}



/* Sign in page style
-------------------------------------------------- */
#sign-in {
    background-color: var(--section-color);
}



/* Sign up page style
-------------------------------------------------- */
#sign-up {
    background-image: url('https://media.istockphoto.com/id/1136817041/photo/colorful-pizza-ingredients-on-white-background-top-view.jpg?s=612x612&w=0&k=20&c=VWn51m6abfK9Q8C2xW4QLz6LrVxNO-Ttb4LVlVVQgUg=');
}



/* Privacy and About page style
-------------------------------------------------- */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}



/* Page load animation */
@keyframes pageLoad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: pageLoad 1s;
}



/* Style changes added for theme changing (ALL NEW CHANGES ADDED)
----------------------------------------------------------------------------------------- */

/* Theme settings (Light and Dark)
-------------------------------------------------- */
:root {
    /* Light theme */
    --body-bg-color: #ffffff; /*Background color: white */
    --bg-color: #edede9; /*Card background color */
    --text-color: #354f52;
    --primary-color: #84a98c; /* Nav bar color: #84a98c 70% */
    --secondary-color: #cad2c5; /*Nav bar color: #cad2c5 60% */
    --link-color: #0366d6;
    --border-color: #656468;
    --stripe-even-color: #edede9; /*Index table even row color */
    --stripe-odd-color: #cad2c5; /*Index table odd row color */
    --btn-color: #52796f; /*More info button color */
    --section-color: #f1faee; /*Comment and delete section background color */
    --dropdown-bg-color: #ffffff; /*Nav bar dropdown background color: white */
    --account-dropdown-bg-color: #ffffff; /*Nav bar user action dropdown background color: white */

    /* Dark theme */
    --body-bg-color-dark: #354f52;
    --bg-color-dark: #cad2c5;
    --text-color-dark: #f3f3f3;
    --primary-color-dark: #52796f;
    --secondary-color-dark: #84a98c;
    --link-color-dark: #3391ff;
    --border-color-dark: #444444;
    --stripe-even-color-dark: #84a98c;
    --stripe-odd-color-dark: #cad2c5;
    --btn-color-dark: #84a98c;
    --section-color-dark: #a4c3b2;
    --dropdown-bg-color-dark: #84a98c;
    --account-dropdown-bg-color-dark: #52796f;
}

/* This section will override the colors when the data-theme attribute is set to "dark" */
[data-theme="dark"] {
    --body-bg-color: var(--body-bg-color-dark);
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --link-color: var(--link-color-dark);
    --border-color: var(--border-color-dark);
    --stripe-even-color: var(--stripe-even-color-dark);
    --stripe-odd-color: var(--stripe-odd-color-dark);
    --btn-color: var(--btn-color-dark);
    --section-color: var(--section-color-dark);
    --dropdown-bg-color: var(--dropdown-bg-color-dark);
    --account-dropdown-bg-color: var(--account-dropdown-bg-color-dark);

    --social-bg-color: var(--social-bg-color-dark);
    --social-icon-color: var(--social-icon-color-dark);
    --link-dark: var(--link-dark-dark);
    --footer-bg-color: var(--footer-bg-color-dark);
    --footer-btn-color: var(--footer-btn-color-dark);
}

/*Read page horizontal rule setting for dark theme */
[data-theme="dark"] hr {
    background-color: white;
}

