:root {
    /*Image settings*/
    --img-height-recipes: 500px;
}

.img-recipe-page {
    max-height: var(--img-height-recipes); /*original setting: 500px */
}

.checked {
    color: var(--checked-color);    /*original color: orange */
}

.fa-star {
  cursor: finger;
}

.icon-container {
    cursor: url('https://cdn-icons-png.flaticon.com/512/2909/2909894.png'), pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', serif; /******* Change font *******/
    color: var(--text-color); /*Card text color: #354f52 */
    background: var(--bg-color); /*Card text box color: #edede9 */
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-title {
    color: var(--card-title-color); /*This is new */
    text-align: center;
}

.card-columns .card-tags ul {
    list-style-type: none;
    padding: 0;
}

.card-columns .card-tags ul li {
    text-transform: uppercase;
    text-align: center;
 }

.card-tags ul li a {
    color: #a5a58d;
    text-decoration: none;
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: var(--card-footer-bg);  /*background color: #edede9 */
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Nunito', cursive; /******* Change font *******/
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--link-color); /*original color: #0366d6 */
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color); /*sign-in button original color: #52796f */
    border-color: var(--border-color); /*original color: #252152 */
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--secondary-color);   /*original color: #84a98c */
    border-color: var(--secondary-color);   /*original color: #84a98c */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--secondary-color);   /*original color: #84a98c */
    border-color: var(--secondary-color);   /*original color: #84a98c */
}

.bg-navbar {
    background: -webkit-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: -o-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: -moz-linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
    background: linear-gradient(110deg, var(--primary-color) 70%, var(--secondary-color) 60%);
}

/*.bg-navbar {
    background: -webkit-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: -o-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: -moz-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid var(--border-color); /*original color: #656468 */
}

.border-bottom {
    border-bottom: 1px solid var(--border-color); /*original color: #656468 */
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height changed to 200px to avoid overlap */
    margin-bottom: 200px;
    background-color: var(--bg-color);  /*This is new */
    color: var(--text-color);   /*This is new */
}

p {
    font-family: 'Nunito', serif; /******* Change font *******/
}

h1,h2,h3,h4, h5, h6 {
    font-family: 'Nunito', serif; /******* Change font *******/
}

ul {
    font-family: 'Nunito', serif; /******* Change font *******/
}

/*Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #cad2c5;
    color: var(--footer-text-color);
}

/*Footer bottom part background color */
.text-center.p-1 {
    background-color: #84a98c;         
}

/*Social media icons appear round */
.btn-rounded {
    border-radius:20px;
}
 
/* Read page style
-------------------------------------------------- */
/*Change the instruction font of the Read page to Nunito*/
.instruction-font {
    font-family: 'Nunito', sans-serif;
}

/* Clear div for vertical margins*/
.clear{clear: both; height: 60px}

/*Change the color and font weight for View All under Recipes*/
.view-all {
    color: black; 
    font-weight: bold;
}

/*Read page section title style */
.section-title {
    display: flex;
    align-items: center;
}

.section-title hr {
    flex-grow: 1;
    margin-left: 10px;
}

/*Recipe title and image container */
.recipe-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Recipe Title Style Changes */
.recipe-title {
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
    margin-left: auto;
}

.recipe-title h2 {
    font-weight: bold;
}

/*Recipe Image Style Changes */
.recipe-figure {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add position: relative */
    overflow: hidden; /* Add overflow: hidden to hide the excess portion */
}

.recipe-figure .figure-img {
    width: 500px;  
    height: 500px; 
    object-fit: cover;
}

.rule-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#comment-section {
    background-color: #f1faee;
}


/* Update page style
-------------------------------------------------- */
/*Keep the instruction index in line with instruction*/
.instr-label {
    margin-right: 10px;
}

.instrLabel-container input {
    width: 96%;
    display: inline-block;
}

.ingr-label {
    margin-right: 10px;
}

.ingrLabel-container input {
    width: 96%;
    display: inline-block;
}

.tag-label {
    margin-right: 10px;
}

.tagLabel-container input {
    width: 96%;
    display: inline-block;
}

/* Delete page style
-------------------------------------------------- */
#delete-section {
    background-color: #f1faee;
}

/* Index page style
-------------------------------------------------- */
.sort-buttons button.active {
    background-color: #fec89a;
}

.table-striped tbody tr:nth-child(even) {
    background-color: var(--stripe-even-color); /*original color: #fec89a */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: var(--stripe-odd-color); /*original color: #edede9 */
}

.table-header {
    background-color: var(--secondary-color); /*This is new */
    color: var(--text-color); /* original color: #84a98c */
}



/* Style changes added for theme changing (ALL NEW CHANGES ADDED)
----------------------------------------------------------------------------------------- */

/* Theme settings (Light and Dark)
-------------------------------------------------- */
:root {
    /*Image settings*/
    --img-height-recipes: 500px;
    /* Light theme */
    --bg-color: #edede9;
    --text-color: #354f52;
    --primary-color: #52796f;
    --secondary-color: #cad2c5;
    --link-color: #0366d6;
    --border-color: #656468;
    --stripe-even-color: #edede9;
    --stripe-odd-color: #cad2c5;
    /* Dark theme */
    --bg-color-dark: #333333;
    --text-color-dark: #f3f3f3;
    --primary-color-dark: #52796f;
    --secondary-color-dark: #212529;
    --link-color-dark: #3391ff;
    --border-color-dark: #444444;
    --stripe-even-color-dark: #444444;
    --stripe-odd-color-dark: #555555;
}

/* This section will override the colors when the data-theme attribute is set to "dark" */
[data-theme="dark"] {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --link-color: var(--link-color-dark);
    --border-color: var(--border-color-dark);
    --stripe-even-color: var(--stripe-even-color-dark);
    --stripe-odd-color: var(--stripe-odd-color-dark);
}

[data-theme="dark"] {
    --social-bg-color: var(--social-bg-color-dark);
    --social-icon-color: var(--social-icon-color-dark);
    --link-dark: var(--link-dark-dark);
    --footer-bg-color: var(--footer-bg-color-dark);
    --footer-btn-color: var(--footer-btn-color-dark);
}

.text-center {
    background-color: var(--social-bg-color);
}

.btn-outline-dark {
    color: var(--social-icon-color);
    border-color: var(--social-icon-color);
}

.btn-outline-dark:hover {
    background-color: var(--social-icon-color);
    color: var(--social-bg-color);
}

.text-dark {
    color: var(--link-dark);
}

.text-dark:hover {
    color: var(--social-icon-color);
}
.register-label {
    font-weight: bold;
    color: var(--register-text-color);
}

.btn-register {
    color: var(--register-text-color);
    background-color: var(--register-bg-color);
}

.btn-register:hover {
    color: var(--register-bg-color);
    background-color: var(--register-text-color);
}

.btn-footer {
    color: var(--social-icon-color);
    background-color: var(--footer-btn-color);
}

.btn-footer:hover {
    background-color: var(--social-icon-color);
    color: var(--footer-btn-color);
}