:root {
    /*Image settings*/
    --img-height-recipes: 500px;
}

.img-recipe-page {
    max-height: var(--img-height-recipes);
}

.checked {
  color: orange;
}

.fa-star {
  cursor: finger;
}

.icon-container {
    cursor: url('https://cdn-icons-png.flaticon.com/512/2909/2909894.png'), pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', serif; /******* Change font *******/
    color: #354f52; /*Card text color*/
    background: #edede9; /*Card text box color*/
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #edede9;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Nunito', cursive; /******* Change font *******/
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
   color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #52796f; /*sign-in button color*/
    border-color: #252152;
}
.btn-primary:hover {
        color: #fff;
        background-color: #84a98c;
        border-color: #84a98c;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #84a98c;
    border-color: #84a98c;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #656468;
}
.border-bottom {
  border-bottom: 1px solid #656468;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height changed to 200px to avoid overlap */
  margin-bottom: 200px;
}
p {
    font-family: 'Nunito', serif; /******* Change font *******/
}
h1,h2,h3,h4, h5, h6 {
    font-family: 'Nunito', serif; /******* Change font *******/
}
ul {
    font-family: 'Nunito', serif; /******* Change font *******/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Set the line-height to a smaller value */
    font-family: 'Nunito', sans-serif; /******* Change font *******/
}

/*Social media icons appear round */
.btn-rounded {
    border-radius:20px;
}

/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: -o-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: -moz-linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
    background: linear-gradient(110deg, #84a98c 70%, #cad2c5 60%);
}

/* Change the background color of even rows */
.table-striped tbody tr:nth-child(even) {
    background-color: #edede9;
}

/* Change the background color of odd rows */
.table-striped tbody tr:nth-child(odd) {
    background-color: #cad2c5;
}

.table-header {
    background-color: #84a98c;
}

/* Read page style
-------------------------------------------------- */
/*Change the instruction font of the Read page to Nunito*/
.instruction-font {
    font-family: 'Nunito', sans-serif;
}

/* Clear div for vertical margins*/
.clear{clear: both; height: 60px}

/*Change the color and font weight for View All under Recipes*/
.view-all {
    color: black; 
    font-weight: bold;
}


.section-title {
    display: flex;
    align-items: center;
}

.section-title hr {
    flex-grow: 1;
    margin-left: 10px;
}

.recipe-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-title {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    margin-left: auto;
}

.recipe-title h2 {
    font-weight: bold;
}


.recipe-figure {
    margin-right: 30px;  
}

.recipe-figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-figure .figure-img {
    width: 500px;  
    height: 500px; 
    object-fit: cover;
}

.rule-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Update page style
-------------------------------------------------- */
/*Keep the instruction index in line with instruction*/
.instr-label {
    margin-right: 10px;
}

.instrLabel-container input {
    width: 96%;
    display: inline-block;
}

.ingr-label {
    margin-right: 10px;
}

.ingrLabel-container input {
    width: 96%;
    display: inline-block;
}

.tag-label {
    margin-right: 10px;
}

.tagLabel-container input {
    width: 96%;
    display: inline-block;
}

/* Index page style
-------------------------------------------------- */
.sort-buttons button.active {
    background-color: #fec89a;
}


